:root{
  font-size: 16px;
  box-sizing: border-box;
}
*::before,::after{
  box-sizing: inherit;
}
.no-focus-inner::-moz-focus-inner{
  border: 0;
}

.clearFix::after, .clearFix::before{
  content: "";
  display: table;
}
body{
  font-family: sans-serif;
  font-size: 1rem;
  color: #1B232B;
  line-height: 1.4;
}
input, textarea, select, button {
  font: inherit;
}
.visually-hidden{
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
}
@import "./blocks/*.scss";
